html{
  
    font-size: 100%;
}

body {
    margin: 0;
    font-family:arial;
}

.nav{
  position: absolute;
  width: 100%;
  height: 10%;
  background-color: #0D0221;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo-img{
  padding-top: 10%;
  padding-left: 50%;
  width: 100%;
  height: 70%;
}
div.section 
{
    /* padding: 60px 40px; */
    min-height: 100vh;
    scroll-snap-align : start;
    margin: 0px;
    padding: 0px;
}

#section1{
    /* background-color: #fad390; */
    display: grid;
    background-size: cover;
    background-position: center;
    margin: 0px;
    padding: 0px;
}
.button1{
 
  border-width: 1px;
  color: white;
  font-family:"Montserrat", sans-serif ;
  font-weight: 600;
  font-size: 100%;
  padding: 20px 22px 20px 22px;
  background-color: rgb(4, 4, 4);
  border-color: white;
  border-radius: 16px;
  margin-top: 80px;
  border-style: solid;
  width: 125%;
  text-decoration: none;
}
.button1:hover{
  background-color: rgb(151, 155, 184);
  color: #000000;
  transition: opacity s;
}


  
  
 
  
  .links {
    display: flex;
    align-items: center;
    height: 100%;
  }
  
  .links a {
    margin: 0 20px;
    color: #5d5e70;
    text-decoration: none;
    font-family: "LEMON MILK";
    font-weight: 100;
    font-size: 3rem;
  }
  
  .links a:hover {
    color: #954f3a;
  }
  
  .links a.active {
    font-weight: 400;
  }
  
  .links::before {
    content: "";
    display: block;
    height: 100%;
    width: 1px;
    margin-right: 20px;
  }

  .rectangle {
    width: 1200px;
    height: 5px;
    background-color: #5d5e70;
    margin: 20px;
  }

  


#section1{
  padding-top: 0px;
  text-align: center;
}

.section_title{
    color: #0D0221;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-weight: bold;
    font-size: 6rem;
    margin-bottom: -20px;
}

.section_text{
    padding-top: 10px;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 1.05rem;
    text-align: left;
    padding-left: 30.3%;
}

.hidden_ins{

    font-family: "Montserrat", sans-serif;
  }
  
