html{
    scroll-snap-type : y mandatory;
    font-size: 100%;
}

body {
    margin: 0;
    font-family:arial;
}
.nav{
    position: absolute;
    width: 100%;
    height: 10%;
    background-color: #0D0221;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .logo-img{
    padding-top: 10%;
    padding-left: 50%;
    width: 100%;
    height: 70%;
  }
div.section 
{
    /* padding: 60px 40px; */
    min-height: 100vh;
    scroll-snap-align : start;
    margin: 0px;
    padding: 0px;
}

#section1{
    display: grid;
    background-size: cover;
    background-position: center;
    margin: 0px;
    padding: 0px;   
}

  .rectangle {
    width: 1403px;
    height: 5px;
    background-color: #5d5e70;
    margin: 20px;
  }


#section1{
  padding-top: 100px;
  text-align: center;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.question-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.timer-box {
    position: absolute;
  margin-bottom: 40%;
    width: 100%;
    height: 30px;
    background-color: lightgray;
}

.timer {
    height: 100%;
    background-color: #649bb3;
}

#question-text{
    margin-top: -230px;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 3rem;
}

.input-box {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100px;
    background-color: transparent;
    border: 5px solid #0D0221;
    border-radius: 10px 10px 0 0;
}

.input-box input {
    width: calc(100% - 80px);
    height: 79%;
    padding: 10px;
    border: none;
    border-radius: 7px 0 0 0;
    font-size: 16px;
}

.input-box button {
    width: 80px;
    height: 100%;
    padding: 10px;
    background-color: #0D0221;
    border: 2px solid #0D0221;
    border-left: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.input-box button:hover {
    background-color: #8e6ccd;
}

.input-box button svg {
    display: block;
    margin: 0 auto;
    width: 20px;
    height: 20px;
}