html{
    
    font-size: 100%;
}

body {
    margin: 0;
    font-family:arial;
}
.nav{
  position: absolute;
  width: 100%;
  height: 10%;
  background-color: #0D0221;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo-img{
  padding-top: 10%;
  padding-left: 50%;
  width: 100%;
  height: 70%;
}

div.section 
{
    /* padding: 60px 40px; */
    min-height: 100vh;
    scroll-snap-align : start;
    margin: 0px;
    padding: 0px;
}

#section1{
    /* background-color: #fad390; */
    display: grid;
    background-size: cover;
    background-position: center;
    margin: 0px;
    padding: 0px;
}



  .rectangle {
    width: 1403px;
    height: 5px;
    background-color: #5d5e70;
    margin: 20px;
  }


#section1{
  padding-top: 90px;
  text-align: center;
}





.container th h1 {
	  font-weight: bold;
	  font-size: 1em;
  text-align: left;
  color: #000000;
  text-align: center;
  
}

.container td {
	  font-weight: normal;
	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
          text-align: center;
}

.container {
  text-align: center;
  overflow: hidden;
  width: 90%;
  margin: auto;
  display: table;
  border-radius: 40px;
  text-align: center;

}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.container td, .container th {
  width: 20%;
	padding: 8px;
  text-align: center;
  border: 1px solid black;
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
  text-align: center;
  color: #000000;
	background-color: #323c502b;
  text-align: center;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
  text-align: center;
  color: #000000;
  background-color: #323c502b;
}

.container th {
	background-color: #52515181;
  text-align: center;
}

.container td:first-child { color: #000000; }

.container tr:hover {
  color: #f4efe9;
  background-color: #525252;
  -webkit-box-shadow: 0 6px 6px -6px #0E1119;
	-moz-box-shadow: 0 6px 6px -6px #0E1119;
	box-shadow: 0 6px 6px -6px #0E1119;
}

.container td:hover {
  background-color: #525252;
  color: #ffffff;
  /* font-weight: bold; */
  
  /* box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px; */
  /* transform: translate3d(6px, -6px, 0); */
  
  transition-delay: 0s;
	transition-duration: 0.4s;
	transition-property: all;
  transition-timing-function: line;
}


.container th:nth-child(1),
.container td:nth-child(1) {
    width: 15%; /* Adjust the width of the first column as needed */
}

.container th:nth-child(3),
.container td:nth-child(3) {
    width: 5%; /* Set the width of the third column to fit 4 characters */
}
