html{
  scroll-snap-type : y mandatory;
  font-size: 100%;
}

body {
  margin: 0;
  font-family:arial;
}
.nav{
  position: absolute;
  width: 100%;
  height: 10%;
  background-color: #0D0221;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo-img{
  padding-top: 10%;
  padding-left: 50%;
  width: 100%;
  height: 70%;
}

div.section 
{
  /* padding: 60px 40px; */
  min-height: 100vh;
  scroll-snap-align : start;
  margin: 0px;
  padding: 0px;
}

#section1{
  /* background-color: #fad390; */
  display: grid;
  
  background-size: cover;
  background-position: center;
  margin: 0px;
  padding: 0px;
}






.rectangle {
  width: 100vw;
  height: 5px;
  background-color: #5d5e70;
  margin: 20px;
}


#section1{
padding-top: 100px;
text-align: center;
}


#timer-container {
  margin-top: 0px;
  width: 100%;
  height: 30px;
  background-color: lightgray;
}

#timer {
  height: 100%;
  background-color: #649bb3;
}


#question{
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 2rem;
}


#video_buttons{
  padding-top: 0px;
  padding-left: 0px;
}


.button1{
 
  border-width: 1px;
  color: white;
  font-family:"Montserrat", sans-serif ;
  font-weight: 600;
  font-size: 100%;
  padding: 20px 22px 20px 22px;
  background-color: rgb(4, 4, 4);
  border-color: white;
  border-radius: 16px;
  margin-top: 80px;
  border-style: solid;
  width: 20%;
  text-decoration: none;
}
.button1:hover{
  background-color: rgb(50, 60, 136);
  color: #000000;
  transition: opacity s;
}



