<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Recruiter</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/Instructions.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        </head>
    </head>
    <body>
        
        <div class="box">   
            <div class="section" id="section1">
                <div class="hidden_ins">                    
                    <p class="section_title">Instructions for Video Interview</p>
                    <p class="section_text">☆ Read the question carefully before answering.</p>
                    <p class="section_text">☆ You will have a total of 10 questions.</p>
                    <p class="section_text">☆ For each question you will have one minute to answer.</p>
                    <p class="section_text">☆ Timer can be seen below the navbar. The bar represents the time remaining.</p>
                    <p class="section_text">☆ Failure to answer the question within the time limit will be marked as 0.</p>
                    <p class="section_text">☆ Answers should be to the point.</p>
                    <p class="section_text">☆ Pay special attention to the grammar.</p>
                </div>                
            </div>

           
        </div>
        
        <div class="container3">
            <div class="hello"><img src="/static/pattern.jpg" alt="" class="four">
                
                <div class="align">
                    
            
            <p class="details2">Choose the role you're interviewing for:</p>
            <div class="dropdown">
                <div class="select">
                    <span class="selected">Role Search</span>
                    <div class="caret">
                    </div>
                </div>
                <ul class="menu">
                    <li>AI/ML</li>
                </ul>
            </div>
                <div class="button1-class">
                    <a href="{{ url_for('Video_Test') }}" class="button1">PROCEED</a>
                </div>
            </div>
        
            </div>
        </div>
        
        
        

       

       
        <script type="text/javascript" src="{{ url_for('static',filename='script/candidateinfo.js') }}"></script>
        
    </body>
</html>